{% extends 'index.html' %}
{% block title %}About{% endblock title %}
{% block stylecss %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock stylecss %}
{% load static %} 
{% block body %}
<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/hero-bg2.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Python Django Developer </h3>
          
          <div class="card p-2">


            <form action="/about/" method="post" role="form" >{% csrf_token %}
              <div class="form-group">
                <h5>
                  <span><i class="fa fa-calendar-o" aria-hidden="true"></i>Birthday</span>
                </h5>
                <input type="text" class="form-control mb-3" name="birth" required/>
              </div>
              <div class="form-group">
                <h5>
                  <span><i class="bx bx-envelope"></i>PhoneEmail</span>
                </h5>
                <input type="email" value="{{user.email}}" class="form-control mb-3" name="email" required/>
              </div>
              <div class="form-group">
                <h5>
                  <span><i class="fas fa-phone-alt"></i>Phonenumber <span>
                </h5>
                <input type="number" class="form-control mb-3" name="num" required/>
              </div>

              <div class="form-group">
                <h5>
                  <span><i class="bx bx-envelope"></i>Website<span>
                </h5>
                <input type="email" class="form-control mb-3" name="web" required/>
              </div>

              <div class="form-group">
                <h5>
                  <span><i class="fa fa-user" aria-hidden="true"></i>Age<span>
                </h5>
                <input type="number" class="form-control mb-3" name="age" required/>
              </div>
              <div class="form-group">
                <h5>
                  <span><i class="fa fa-address-card"></i>City <span>
                </h5>
                <input type="text" class="form-control mb-3" name="city" required/>
              </div>
              <div class="form-group">
                <h5>
                  <span><i class="fa fa-laptop"></i>Freelance<span>
                </h5>
                <input type="text" class="form-control mb-3" name="free" required/>
              </div>

              <div class="form-group">
                <h5>
                  <span><i class="fa fa-hand-peace-o"></i>Degree <span>
                </h5>
                <input type="text" class="form-control mb-3" name="deg" required/>
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit">Submit</button>
              </div>
              
    </div>
  </section>
  {% endblock body %}