{% extends 'basic.html' %}

{% block title %}My Portfolio{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Shaolin Aman</h1>
    <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>

    <button type="button" class="btn btn-danger btn-lg "><a href="https://mail.google.com">Hire Me<i class="bi bi-arrow-right-short"></i></button>
  </div>
</section><!-- End Hero -->
{% endblock content %}


{% block body %}{% endblock body %}