 {% extends 'basic.html' %}
{% block title %}Portfolio{% endblock title %}
{% block stylecss %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock stylecss %} 
{% load static %}
{% block body %}
<section id="portfolio" class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Portfolio</h2>
       <h3 class="text-center text-danger"  >Check Our Portfolio</h3>
    </div>
    
<div class="row">

  {% for post in posts reversed %}

      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">

        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{post.image.url}}" alt="no-image"height="200px" width="200px">
        </div>
      <br>

        <div class="icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="product_name"><a href="">{{post.product_name}}</a></h4>
        <h4 class="category"><a href="">{{post.category}}</a></h4>

        <p class="dese">{{post.dese}}</p>
        
      </div>

{% endfor %}


     
     
    </div>

  </div>
</section>


 {% endblock body   %}